<header class="header">
  <nav>
     <a routerLink="/home"><img src="../../assets/Image/Icons/hospital (3).png" id="eveimg" /></a>
     <h2>Mani Medical Care and Hospital</h2>
     <img src="../../assets/Image/ambulance.png" id="eveimg" />
     <ul>
        <li><a routerLink="/home" routerLinkActive="active"><img src="../../assets/Image/Icons/home.png" alt="">Home</a></li>
        <li><a routerLink="/medicalSpec" routerLinkActive="active"><img src="../../assets/Image/Icons/favorite.png" alt="">Medical Specialists</a></li>
        <li><a routerLink="/contact" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">Contact Us</a></li>
        <li> <a routerLink="/login" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt=""> Login</a>
        </li>
     </ul>
  </nav>
</header>
<hr>
