<footer class="footer">
  <div class="FootStyle">
    <nav>
       <ul>
        <br>

        <h3>ADDRESS</h3>
          <li><h4>Mani Hospital,<br><br>
            #14, Seelanaickanpatty Byepass,<br><br>
            Salem - 636 201,<br><br>
            Tamilnadu, India</h4></li>
       </ul>
       <ul>
        <h3>CONTACT US</h3>
          <li><h4><img [src]="footerImg.landline" alt="Landline"> 91 - 427 - 2709999 <br><br>
            <img [src]="footerImg.mobile" alt="Mobile">+91 - 99439 39990 <br><br>
            <img [src]="footerImg.mail" alt="Email">info@manihospital.com</h4></li>
       </ul>
       <ul>
        <h3>CENTER OF MEDICALS</h3>
          <li><h4>CANCER CARE CENTER</h4></li>
          <li><h4>HIV CARE CENTER</h4></li>
          <li><h4>DIABETES  CARE CENTER</h4></li>
       </ul>
       <ul>
       <h3>CONSULTANTS</h3>
       <li><h4>MMCH City CenterMMCH Speciality Hospital, Erode</h4></li>
       <li><h4>MMCH Sulur CenterMMCH Kovilpalayam Hospital</h4></li>
       <li><h4>MMCH City Center</h4></li>


      </ul>
       <!-- <ul>
        <li><img src="../../assets/Image/Icons/hospital (3).png" alt=""></li>
       </ul>

      KMCH Main Center
      Doctors Contact Number
      KMCH City CenterKMCH Speciality Hospital – Erode
      KMCH Sulur CenterKMCH Kovilpalayam Hospital
      KMCH City Center
      -->

    </nav>
    <div class="rights">
      <h4>© 2023 Mani Medical Center and Hospitals.All Rights Reserved</h4>
    </div>
  </div>
  </footer>


