<app-header class="fixed"></app-header>

<!-- flash -->
<dialog [open]="flash" class="dialog">
      <img [src]="homePageImg.cancelImage" style="width: 30px;height: 30px;position: absolute; right: 15px;" (click)="closeBanner()">
      <img [src]="homePageImg.ballown"style="width: 100px;height: 100px;position: absolute; left: 15px;" (click)="closeBanner()" *ngIf="eventTitile=='Wish you Many More Happy Christmas!' || eventTitile=='Wish you Happy New Year!' ">
      <img [src]="homePageImg.ballown"style="width: 100px;height: 100px;position: absolute; right: 45px;" (click)="closeBanner()"*ngIf="eventTitile=='Wish you Many More Happy Christmas!' || eventTitile=='Wish you Happy New Year!' ">
      <img [src]="link" alt="">
   <h2 style="text-align: center;">{{eventTitile}}</h2>
<h3>{{con1}}</h3>
<h3>{{con2}}</h3>
</dialog >
<div>
  <div [ngClass]="{view:blur==true}" >

<div class="body">


<div class="webbody">
  <img [src]="homePageImg.frontImage" style="width: 800px;height: 500px;" />
</div>
<div class="welcome">
  <div class="B1">
  <h2 style="font-size: 30px; color: #238ca1;padding-left: 10px; font-family: 'Poppins', sans-serif;">Welcome to MMCH</h2>
  <h2 style="text-align: left; padding-left: 10px;color: #233863;font-family: 'Poppins', sans-serif;">"We Value Your Health</h2>
  <h2 style="text-align: lext; padding-left: 20px;color: #233863;font-family: 'Poppins', sans-serif;" > Care for Your Smile"</h2>
  <pre style="font-size: 15px;text-align: lext; padding-left: 20px;font-weight: bolder;color: #238ca1;">
<img [src]="homePageImg.stethoscope" alt=""> This appication is maily focus on make a appointment
    and user can view details accrodingly.
    <br>
<img [src]="homePageImg.stethoscope" alt=""> If you want an doctor's appointment,
    register first and then login. <span><a routerLink="/login" style="color: #233863;">click here!</a></span>
    <br>
<img [src]="homePageImg.stethoscope" alt=""> User can view the medical field and doctor details
    in medical specialist field. <span><a routerLink="/medicalSpec" style="color: #233863;">click here!</a></span>
  </pre>
  </div>

</div>
</div>
<div class="segment">
  <div class="div1">
    <div class="center">
    <h4>DEAN</h4>
    <img [src]="homePageImg.dean" />
    <h5>Dr. MANIMARAN S MS</h5>
    <p style="padding: 10px 10px;">A Dean of Medicine manages administrative functions
      of the college of medical. Develops college strategic initiatives
      and participates in university long-term planning and policy setting.
       Being a Dean of Medicine leads college in fundraising and cultivating relationships with donors. </p>
    </div>

  </div>

  <div class="div2">
<div class="center">
  <h4>FOUNDER</h4>
  <img [src]="homePageImg.founder"/>
  <h5>Dr. Thiru. SATHYA MURTHI S</h5>
  <P style="padding: 10px 10px;">
    Large hospitals, consisting of a thousand beds or
  more, emerged during the early nineteenth century in France
   when Napoleon established them to house his wounded soldiers
    from his many wars. These hospitals became centers for clinical teaching.
  </P>
</div>
  </div>
  <div class="div3">
    <div class="center">
      <h4>CHIEF DOCTOR</h4>
      <img [src]="homePageImg.chief" />
      <h5>Dr. TAMIL SELVI M MD MS</h5>
      <P style="padding: 10px 10px;">Ensuring that patients receive the highest standard of
         medical care. Being responsible for the performance of physicians
          under your supervision. Ensuring that all healthcare regulations and
           safety standards are met. Keeping staff updated on new healthcare regulations. </P>
    </div>
      </div>
</div>
<br>
<div class="programs">
  <div class="ProBox1">
    <h2>HEALTH CHECK PROGRAMS
    </h2>
    <hr class="hor">

    <p>1. Does the person require to fast and what other instruction he/she has to follow?</p>
    <p>2. Whom to contact for health check-up and is prior appointment necessary?</p>
    <p>3. Whether lunch will be provided?</p>

  </div>
  <div class="ProBox2">
    <img [src]="homePageImg.healthShield" alt="">
  </div>
</div>
<br>
<div class="segment2">
  <div class="B1">
    <div class="center">
      <img [src]="homePageImg.healthCare" alt=""><h4>HEALTH CARE</h4>
    </div>
  </div>

  <div class="B2">
<div class="center">
  <h4>NEWS PAD</h4>
  <div>
    <marquee behavior="" direction="up" scrollamount="2" style="color: #233863;">
      <p> <img [src]="homePageImg.arrow" /> The art of medicine consists of amusing the patient while nature cures the disease.</p>
      <p> <img [src]="homePageImg.arrow" />Wherever the art of Medicine is loved, there is also a love of Humanity.</p>
      <p> <img [src]="homePageImg.arrow" />Flowers always make people better, happier, and more helpful; they are sunshine, food and medicine to the mind.</p>
      <p> <img [src]="homePageImg.arrow" />A medicine cat has no time for doubt. Put your energy into today and stop worrying about the past.</p>
    </marquee>
  </div>
  </div>
  </div>
 </div>

</div>


<app-footer></app-footer>
