<header class="header">
  <nav>
     <img src="../../assets/Image/Icons/hospital (3).png" id="eveimg" />
     <h2>Mani Medical Care and Hospital</h2>
     <img src="../../assets/Image/ambulance.png" id="eveimg" />
     <ul>
        <li><a routerLink="/doctorhome" routerLinkActive="active"><img src="../../assets/Image/Icons/home.png" alt="">Home</a></li>
        <li><a routerLink="/slot" routerLinkActive="active"><img src="../../assets/Image/Icons/favorite.png" alt="">View Slot</a></li>
        <!-- <li><a routerLink="/prescription" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">Prescription</a></li> -->
        <!-- <li> <a routerLink="/login"><img src="../../assets/Image/Icons/enter.png" alt=""> Logout</a></li> -->
        <li><img src="../../assets/Image/Icons/enter.png" /> <button (click)="logout()" class="logout">Logout</button></li>

      </ul>
  </nav>
</header>
<hr>

