<app-adminHeader></app-adminHeader>
<!-- {{getQuery|json}} -->
<form class="form">
  <div class="split">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <th>Appointment Status</th>
      <th>Generate Bills</th>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of getBills" class="tableScroll">
        <td>{{appointment.id}}</td>
        <td>{{appointment.name}}</td>
        <td>{{appointment.mobileNo}}</td>
        <td>{{appointment.doctorName}}</td>
        <td>{{appointment.doctorField}}</td>
        <td>{{appointment.acceptanceStatus}}</td>
        <!-- <td>{{appointment.date| date: 'dd/MM/yyyy'}}</td> -->
        <!-- <td>{{appointment.timeing}}</td> -->
        <td>
          <button class="back" (click)="generate(appointment)" >Generate</button>
          <!-- <button class="back"    >Generate</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="generateBills" [formGroup]="billForm" >
    <h2 style="text-align: center;">Generate Recepit</h2>
    <h5 style="padding-left: 355px;margin-top: 0px;">Date: {{dateNow| date:"dd/MM/YYYY"}}</h5>
    <div class="split2">
    <div class="Box1">
    <div class="field">
      <label for="">Patient Name: </label>
      <input type="text" class="inp-box" formControlName="patinetName">
    </div>
    <div class="field">
      <label for="">Doctor Name: </label>
      <input type="text" class="inp-box" formControlName="doctorName">
    </div>
    <div class="field">
      <label for="">Doctor Field: </label>
      <input type="text" class="inp-box" formControlName="doctorField">
    </div>
    <div class="field">
      <label for="">Contact No: </label>
      <input type="text" class="inp-box" formControlName="contactNo">
    </div>
    <!-- <div class="dName">
      <label for="">Doctor Name</label>
      <input type="text" formControlName="doctorName">
    </div> -->
  </div>
  <div class="Box2">
 <div class="field2">
    <label for="">Consulting Fee: </label>
    <input type="number" class="amount" #consultingfee formControlName="consultingFee">
  </div>
  <div class="field2">
    <label for="">Other Fee: </label>
    <input type="number" class="amount" #otherfee formControlName="otherFee" (change)="sum(consultingfee.value,otherfee.value)"  >
  </div>
  <div class="field2">
    <label for="">Total Fee: {{result|currency:'INR'}}</label><br><br>
    <!-- <input type="number" class="amount" > -->
  </div>
  <br>
  <div class="submit">
    <button class="submit" (click)="submitBill()" [disabled]="!billForm.valid">Submit</button>
  </div>
</div>
  </div>
</div>
</div>
</form>

<!-- <form [formGroup]="billForm">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="billForm.controls['firstName'].invalid">Please enter a first name.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="billForm.controls['lastName'].invalid">Please enter a last name.</mat-error>
  </mat-form-field>
</form> -->

<app-footer></app-footer>
