<app-doctorHeader></app-doctorHeader>
<form action="">
  <div class="medicalField">
    <label for="">Choose Medical Field</label>
    <div class="input">
      <select name="">
        <option value="" disabled selected>Medical Fields</option>
        <option value="General doctor" >General doctor</option>
        <option value="Pediatrician">Pediatrician</option>
        <option value="Gynecologist">Gynecologist</option>
        <option value="Dentist" >Dentist</option>
        <option value="Cardiologist" >Cardiologist</option>
        <option value="Cosmic" >Cosmic</option>
        <option value="Otolaryngologist" >Otolaryngologist</option>
        <option value="Psychiatrist" >Psychiatrist</option>
      </select>
    </div>
    </div>
</form>
<p>add-doctor works!</p>
