<app-patientHeader></app-patientHeader>
<!-- <form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <th>Consulting Fee</th>
      <th>Other Fee</th>
      <th>Total</th>
    </thead>
    <tbody>
      <tr *ngFor="let payment of loggedInUser">
        <td>{{payment.id}}</td>
        <td>{{payment.name}}</td>
        <td>{{payment.mobileNo}}</td>
        <td>{{payment.doctorName}}</td>
        <td>{{payment.doctorField}}</td>
        <td>{{payment.consultingFee}}</td>
        <td>{{payment.otherFee}}</td>
        <td>{{payment.Total}}</td>
        <td>
          <button [disabled]="payment.isDisabled" id="refchange" (click)="pay(payment,payment.id)">Pay</button>
        </td>
      </tr>
    </tbody>
  </table> -->


  <form action="">
    <h2 style="text-align: center;">Your Bill</h2>
    <table>
      <thead>
      <th>Patient Id</th>
      <th>Patient name</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <!-- <th>Contact no</th> -->
      <th>Consulting Fee</th>
      <th>Other Fee</th>
      <th>Total</th>
      <th>Select</th>
      </thead>
      <tbody>
        <tr>
          <td>{{refereshData.id}}</td>
          <td>{{refereshData.patientName}}</td>
          <td>{{refereshData.doctorName}}</td>
          <td>{{refereshData.doctorField}}</td>
          <!-- <td>{{refereshData.phone}}</td> -->
          <td>{{refereshData.consultingFee}}</td>
          <td>{{refereshData.otherFee}}</td>
          <td>{{refereshData.Total}}</td>
          <td>
            <!-- <button [disabled]="refereshData.Total=='' " id="refchange" (click)="pay(refereshData)">Pay</button> -->
            <button [disabled]=" refereshData.consultingFee==null || refereshData.consultingFee=='' || refereshData.doctorName==null || refereshData.doctorName=='' " id="refchange" (click)="pay(refereshData)">Pay</button>
          </td>
        </tr>

      </tbody>
    </table>
  </form>

  <br>
  <br>
  <form action="">
    <h2 style="text-align: center;">Payment History</h2>
    <table>
      <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Appointment Date</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <!-- <th>Contact no</th> -->
      <th>Consulting Fee</th>
      <th>Other Fee</th>
      <th>Total</th>
      <th>Payment Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of history; let i=index">
          <td>{{i+1}}</td>
          <td>{{item.patientName}}</td>
          <td>{{item.appointmentDate}}</td>
          <td>{{item.doctorName}}</td>
          <td>{{item.doctorField}}</td>
          <!-- <td>{{item.phone}}</td> -->
          <td>{{item.consultingFee}}</td>
          <td>{{item.otherFee}}</td>
          <td>{{item.Total}}</td>
          <td [ngClass]="{green:item.paymentStatus == 'Success' }">{{item.paymentStatus}}</td>
        </tr>

      </tbody>
    </table>
  </form>
<!-- <app-footer></app-footer> -->
