<form >
  <div class="form-group">
   <label for="my-input">UserName:</label>
   <input class="form-control" type="text" name="userName" >
 </div>

 <div class="form-group">
   <label for="my-input">Password:</label>
   <input id="my-input" class="form-control" type="text" name="pass" >
 </div>

 <div class="form-group">
   <label for="my-input">ConfirmPassword:</label>
   <input id="my-input" class="form-control" type="text" name="cpass" >
 </div>

 <button (click)="onLogin()">Login</button>
</form>
