<header class="header">
  <nav>
     <img src="../../assets/Image/Icons/hospital (3).png" id="eveimg" />
     <h2>Mani Medical Care and Hospital</h2>
     <div> <marquee behavior="" direction="right"><img src="../../assets/Image/ambulance.png" id="eveimg" /></marquee> </div>
     <ul>
        <li><a routerLink="/patienthome" routerLinkActive="active"><img src="../../assets/Image/Icons/home.png" alt="">Home</a></li>
        <!-- <li><a routerLink="/viewreport" routerLinkActive="active"><img src="../../assets/Image/Icons/favorite.png" alt="">View Report</a></li> -->
        <li><a routerLink="/appointment" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">Appointment Request</a></li>
        <li><a routerLink="/payBills" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">Pay Bill</a></li>
        <li><a routerLink="/patientHistory" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">Profile</a></li>

        <!-- <li> <a routerLink="/login"><img src="../../assets/Image/Icons/enter.png" alt="" (click)="logout()"> Logout</a></li> -->
        <li><img src="../../assets/Image/Icons/enter.png" /> <button (click)="logout()" class="logout">Logout</button></li>
     </ul>
  </nav>
</header>
<hr>
