<header class="header">
  <nav>
     <img [src]="patientImg.logo" id="eveimg" />
     <h2>Mani Medical Care and Hospital</h2>
     <div> <marquee behavior="" direction="right"><img [src]="patientImg.ambulance" id="eveimg" /></marquee> </div>
     <ul>
        <li><a routerLink="/patienthome" routerLinkActive="active"><img [src]="patientImg.homeSymbolIcon" alt="">Home</a></li>
        <li><a routerLink="/appointment" routerLinkActive="active"><img [src]="patientImg.homeIcon" alt="">Appointment Request</a></li>
        <li><a routerLink="/payBills" routerLinkActive="active"><img [src]="patientImg.homeIcon" alt="">Pay Bill</a></li>
        <li><a routerLink="/patientHistory" routerLinkActive="active"><img [src]="patientImg.homeIcon" alt="">Profile</a></li>

        <li><img [src]="patientImg.homeIcon" /> <button (click)="logout()" class="logout">Logout</button></li>
     </ul>
  </nav>
</header>
<hr>
