
<app-doctorHeader></app-doctorHeader>
<!-- {{getQuery|json}} -->
<form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Doctor Name</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th>Health issue</th>
      <th>Select</th>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of slotAllocated">
        <td>{{appointment.id}}</td>
        <td>{{appointment.name}}</td>
        <td>{{appointment.mobileNo}}</td>
        <td>{{appointment.doctorName}}</td>
        <td>{{appointment.date| date: 'dd/MM/yyyy'}}</td>
        <td>{{appointment.timeing}}</td>
        <td>{{appointment.problem}}</td>
        <td>
          <button (click)="AddToBill(appointment,appointment.id)">ADD</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<app-footer></app-footer>
