*{
  margin: 0px;
  padding: 0px;
}

.Title{
  text-align: center;
  margin-top: 60px;
  color: #312202;
  font-weight: bold;
}

.body{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #fafafa;
}
.bimg img{
  padding-left: 100px;
  width:700px;
  height:500px;
}
.form-box{
  width: 380px;
  height: 420px;
  position: relative;
  margin: 6% auto ;
  background-color: rgb(255, 255, 255);
  /* background-color: rebeccapurple; */
  /* background-color: #927354; */
  /* background-color: #cae9d0; */
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #233863;

}

.inp-grp{
  top:110px;
  position: absolute;
  width: 280px;
}
.inp-box{
  width: 100%;
  padding: 10px 0;
  margin: 2px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #071468;
  outline: none;
  background: transparent;
}
.sub-box{
  width: 50%;
  padding: 10px 30px;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #e5eaec,#90c79a);
  border: 0;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  color: #0e0a01;
}
.sub-box:hover{
  background: linear-gradient(to right, #ffffff,#b7ddf1);

}
.check-box{
  margin: 13px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  position: relative;
}
#Login{
  left: 50px;
}
#Register{
  left: 400px;
}
.Goto{
  margin-top: 30px;
}
.Goto ul li{
  list-style: none;
  text-align: center;
}
.Goto ul li a{
  text-decoration: none;
  font-size: 14px;
  color: #233863;
  text-decoration: none;
  /* font-weight: bolder; */

}
.Goto ul li a:hover{
  color: #233863;
  text-decoration: underline;
}
.forgot{
  font-size: 14px;
  /* font-weight: bolder; */
  /* color: #7c3c11; */
  color: #233863;
  text-decoration: none;
}

.forgot:hover{
  text-decoration: underline;
  color: #233863;
}



/* input.ng-invalid{
  border-bottom: 5px solid red;
}
input.ng-valid{
  border: 5px solid green;
} */

.error p{
  font-size: 13px;
  color: red;
}
