<app-header></app-header>
<div class="body">
<div class="bimg">
  <img src="../../assets/Image/12953573_Data_security_05.jpg" alt="">
</div>
<div class="blogin">
  <div class="form-box">
    <div class="Title">
          <h3>Forgot Password</h3>
    </div>
      <form id="Login" class="inp-grp" [formGroup]="forgotForm" (ngSubmit)="proceed()">
          <input type="text" class="inp-box" name="user"
          placeholder="Enter Email id " formControlName="userId"
        pattern="^[0-9a-zA-Z]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$"
        pattern2="^[AI][0-9]{4}$"
        />
          <div class="error" *ngIf="forgotForm.controls['userId'].dirty">
            <p *ngIf="forgotForm.controls['userId'].errors?.['required']">
              Enter the field
            </p>
            <p *ngIf="forgotForm.controls['userId'].errors?.['pattern'] || forgotForm.controls['userId'].errors?.['pattern2'] ">
              Enter valid Email id
            </p>
          </div>
<br><br>
          <button type="submit" class="sub-box" name="l-submit" [disabled]="forgotForm.invalid">Change Password</button>
          <div class="Goto">
            <ul>
              <li>Back to Login <a routerLink="/login">click here!</a></li>
              </ul><br>
              <!-- <ul>
              <li><a routerLink="/home">Back to Home Page</a></li>
              </ul> -->
          </div>
      </form>
  </div>
</div>
</div>
<app-footer></app-footer>
