<header class="header">
  <nav>
     <img src="../../assets/Image/Icons/hospital (3).png" id="eveimg" />
     <h2>Hospital Management System</h2>
     <img src="../../assets/Image/ambulance.png" id="eveimg" />
     <ul>
        <li><a routerLink="/adminhome" routerLinkActive="active"><img src="../../assets/Image/Icons/home.png" alt="">Home</a></li>
        <li><a routerLink="/viewstatus" routerLinkActive="active"><img src="../../assets/Image/Icons/favorite.png" alt="">View Status</a></li>
        <li><a routerLink="/bills" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">Bills</a></li>
        <li><a routerLink="/viewQuery" routerLinkActive="active"><img src="../../assets/Image/Icons/enter.png" alt="">View Query</a></li>
        <li> <a routerLink="/logout"><img src="../../assets/Image/Icons/enter.png" alt=""> Logout</a></li>
     </ul>
  </nav>
</header>
<hr>
