<app-patientHeader></app-patientHeader>
<!-- {{loggedUser|json}} -->
<h2 style="text-align: center;">Appointment Status</h2>

<form class="form">
  <table>
    <thead>
      <th>Patient no</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th>Appointment Status</th>
      <!-- <th>Health issue</th> -->
    </thead>
    <tbody>
      <tr>
        <td>{{refereshData.id}}</td>
        <td>{{refereshData.patientName}}</td>
        <td>{{refereshData.phone}}</td>
        <td>{{refereshData.doctorName}}</td>
        <td>{{refereshData.doctorField}}</td>
        <td>{{refereshData.appointmentDate}}</td>
        <td>{{refereshData.appointmentTime}}</td>
        <td [ngClass]="{violet:refereshData.appStatus == 'Pending for appointment',
            green:refereshData.appStatus == 'Accepted for appointment',
            red:refereshData.appStatus == 'Cancelled! (Try again)',
            green2:refereshData.appStatus == 'Treatment was Completed',
            red2:refereshData.appStatus == 'Payment Pending'} ">
            {{refereshData.appStatus}}
        </td>
        <!-- <td>{{appointment.problem}}</td> -->
      </tr>
    </tbody>
  </table>
</form>
<h2 style="text-align: center;">Cancelled Slot</h2>
<form class="form">
  <table>
    <thead>
      <th>Patient no</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Appointment date</th>
      <th>Doctor Name</th>
      <th>Remarks</th>
      <!-- <th>Send</th> -->
      <!-- <th>Appointment time</th> -->
      <!-- <th>Health issue</th> -->
    </thead>
    <tbody>
      <tr>
        <td>{{refereshData.id}}</td>
        <td>{{refereshData.cName}}</td>
        <td>{{refereshData.cMobileNo}}</td>
        <td>{{refereshData.cDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{refereshData.cdoctorName}}</td>
        <td>{{refereshData.remarkMessage}}</td>
        <!-- <td>{{appointment.problem}}</td> -->
      </tr>
    </tbody>
  </table>
</form>
<!-- <button (click)="ve()" >Verify</button> -->
<!-- <app-footer></app-footer> -->
