<app-patientHeader></app-patientHeader>
{{loggedUser|json}}
<h2 style="text-align: center;">Appointment Status</h2>

<form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th>Appointment Status</th>
      <!-- <th>Health issue</th> -->
    </thead>
    <tbody>
      <tr>
        <td>{{loggedUser.id}}</td>
        <td>{{loggedUser.patientName}}</td>
        <td>{{loggedUser.mobileNo}}</td>
        <td>{{loggedUser.doctorName}}</td>
        <td>{{loggedUser.doctorField}}</td>
        <td>{{loggedUser.appointmentDate}}</td>
        <td>{{loggedUser.appointmentTime}}</td>
        <td>{{loggedUser.appStatus}}</td>
        <!-- <td>{{appointment.problem}}</td> -->
      </tr>
    </tbody>
  </table>
</form>
<h2 style="text-align: center;">Cancelled Slot</h2>
<form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Appointment date</th>
      <th>Doctor Name</th>
      <th>Remarks</th>
      <th>Send</th>
      <!-- <th>Appointment time</th> -->
      <!-- <th>Health issue</th> -->
    </thead>
    <tbody>
      <tr>
        <td>{{loggedUser.id}}</td>
        <td>{{loggedUser.cName}}</td>
        <td>{{loggedUser.cMobileNo}}</td>
        <td>{{loggedUser.cDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{loggedUser.cdoctorName}}</td>
        <!-- <td>{{appointment.timeing}}</td> -->
        <!-- <td>{{appointment.problem}}</td> -->
      </tr>
    </tbody>
  </table>
</form>
<!-- <button (click)="ve()" >Verify</button> -->
<app-footer></app-footer>
