<app-adminHeader></app-adminHeader>
<!-- {{getQuery|json}} -->
<h2 style="text-align: center;">Requested Slot</h2>
<form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Medical Field</th>
      <th>Doctor Name</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th>Health issue</th>
      <th>Select</th>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of getAppointment let i =index">
        <td>{{i+1}}</td>
        <td>{{appointment.patientName}}</td>
        <td>{{appointment.mobileno}}</td>
        <td>{{appointment.doctorField}}</td>
        <td>{{appointment.doctorName}}</td>
        <td>{{appointment.appointmentDate}}</td>
        <td>{{appointment.appointmentTime}}</td>
        <td>{{appointment.say}}</td>
        <td>
          <button class="back"   (click)="accept(appointment.id,appointment.patientName,appointment.mobileno,appointment.appointmentDate,appointment.appointmentTime, appointment.say, appointment.doctorName, appointment.doctorField)">Accept</button>
          <button class="back"   (click)="cancel(appointment,appointment.id,appointment.patientName,appointment.mobileno,appointment.appointmentDate, appointment.doctorName )">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<br>
<br>
<br>
<h2 style="text-align: center;">Accepted Slot</h2>

<form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Doctor Name</th>
      <th>Doctor Field</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <!-- <th>Health issue</th> -->
    </thead>
    <tbody>
      <tr *ngFor="let appointment of acceptedAppointment let i =index">
        <td>{{i+1}}</td>
        <td>{{appointment.name}}</td>
        <td>{{appointment.mobileNo}}</td>
        <td>{{appointment.doctorName}}</td>
        <td>{{appointment.doctorField}}</td>
        <td>{{appointment.date| date: 'dd/MM/yyyy'}}</td>
        <td>{{appointment.timeing}}</td>
        <!-- <td>{{appointment.problem}}</td> -->
      </tr>
    </tbody>
  </table>
</form>
<br>
<br>
<br>
<h2 style="text-align: center;">Cancelled Slot</h2>
<form class="form">
  <table>
    <thead>
      <th>S.No</th>
      <th>Patient name</th>
      <th>Contact no</th>
      <th>Appointment date</th>
      <th>Doctor Name</th>
      <th>Remarks</th>
      <th>Report to Patinet</th>
      <th>Send</th>
      <th>Sended Message</th>

      <!-- <th>Appointment time</th> -->
      <!-- <th>Health issue</th> -->
    </thead>
    <tbody>
      <tr *ngFor="let appointment of canceledAppointment let i =index "[formGroup]="remarkMessage"  >
        <td>{{i+1}}</td>
        <td>{{appointment.cName}}</td>
        <td>{{appointment.cMobileNo}}</td>
        <td>{{appointment.cDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{appointment.cdoctorName}}</td>
        <td>
          <textarea name="remark" id="" cols="20" rows="3" formControlName="rkMessage"></textarea>
        </td>
        <td>{{appointment.reporting}}</td>
        <td>
          <button [hidden]="appointment.reporting=='Sended' " [disabled]="remarkMessage.invalid"  (click)="sendRemarks(appointment)">Send</button>
        </td>
        <td>{{appointment.remarkMessage}}</td>

        <!-- <td>{{appointment.timeing}}</td> -->
        <!-- <td>{{appointment.problem}}</td> -->
      </tr>
    </tbody>
  </table>
</form>
<!-- <button (click)="doctorView()">Doctor View</button> -->
<!-- <app-footer></app-footer> -->
