<app-header></app-header>
<div class="medicalbody">
  <div class="box">
     <a routerLink="General"><img src="../../assets/Image/Icons/doctor.png" alt="General internists" class="icons" (click)="general()" ></a>
     <h4>General Internists</h4>
  </div>
  <div class="box">
     <a routerLink="Pediatrician"><img src="../../assets/Image/Icons/pediatrician.png" alt="Pediatrician" class="icons" (click)="pediatrician()" ></a>
     <h4>Pediatrician</h4>
  </div>
  <div class="box">
    <a routerLink="Gynecologist"> <img src="../../assets/Image/Icons/gynecologist.png" alt="Gynecologist" class="icons" (click)="gynecologist()"> </a>
    <h4>Gynecologist </h4>
  </div>
  <div class="box">
    <a routerLink="Dentist"><img src="../../assets/Image/Icons/dental-checkup.png" alt="Dentist" class="icons" (click)="dental()"></a>
    <h4>Dentist</h4>
  </div>
  <div class="box" >
     <div class="subcardio"></div>
     <a routerLink="Cardiologist"><img src="../../assets/Image/Icons/heart.png" alt="Cardiologist" class="icons" (click)="cardiologist()">
     </a>
     <h4>Cardiologist</h4>
  </div>
  <div class="box">
    <a routerLink="Cosmetic"><img src="../../assets/Image/Icons/cosmetic-surgery.png" alt="Cosmetic surgery" class="icons" (click)="cosmetic()">
    </a>
     <h4>Cosmetic</h4>
  </div>
  <div class="box">
    <a routerLink="Otolaryngologist"><img src="../../assets/Image/Icons/anesthesiologist.png" alt="Anesthesiologist" class="icons" (click)="otolaryngologist()">
    </a>
     <h4>Otolaryngologist</h4>
  </div>
  <div class="box">
     <a routerLink="Psychiatrist"><img src="../../assets/Image/Icons/psychiatrist.png" alt="Psychiatrist" class="icons" (click)="psychiatrist()"></a>
     <h4>Psychiatrist</h4>
  </div>

</div>
<app-footer></app-footer>



