h3{
  text-align: center;
}
table{
  text-align: center;
  margin:0 auto;
  width:600px ;
  height: 600px;
  background-color: antiquewhite;
  border-radius: 15px;
}
tbody tr td img{
  width:150px;
  height: 150px;
}
thead,tbody,th,tr,td{
  border: 1px solid;
}
